@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --background-color: #0c0418;
    --font-primary-color: #feffff;
    --primary-color: #ba0bf9;
}
*{
    margin: 0px;
    padding: 0px;

    font-family: "Antonio", sans-serif;
    font-weight: 400;
    font-style: bold;
    color: var(--font-primary-color);
}


